body {
    background-color: coral;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}

.top-buttons {
    display: flex;
    flex-direction: row;
}

.board {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    background-color: grey;
}

.colored {
    background-color: purple;
}

.change-sides,
.reset {
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 7px;
}