
.row {
    display: flex;
    flex-direction: row;
}

.board {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: fit-content;
    background-color: grey;
}

.colored {
    background-color: purple;
}

.change-sides {
    display: flex;
    align-items: center;
}